:root {
  --text-color: #333;
}

html {
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  color: var(--text-color);
  font-size: 1.6rem;
}

button {
  font-family: inherit;
  color: inherit;
}
